RCM Form Generator/schemas/S1000D_2-2/comment/xlink.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.w3.org/1999/xlink"
	   xmlns:xs= "http://www.w3.org/2001/XMLSchema"
	   xmlns:xlink="http://www.w3.org/1999/xlink"
           elementFormDefault="qualified"
           attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                          XML Schema                                *
    *                                                                    *
    *                     Release Version 2.0                            *
    *                       Date: 2003-05-31                             *
    *                                                                    *
    * Amendment:-                                                        *
    *                                                                    *
    *                                                                    *
    * The following import statement may be used to call this set of     *
    * declarations:-                                                     *
    *                                                                    *
    * <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" *
    *            schemaLocation="xlink.xsd"/>                            *
    ********************************************************************** -->


	<xs:group name="XLINKEXT">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKEXT" (XLINK Extended Link Elements)             *
    * containing:-                                                       *
    *====================================================================*
    *  Optional Repeatable Group.                                        *
    *====================================================================*
    *    resource - Mandatory    Single   contains No Other Tags.        *
    *   or                                                               *
    *    locator  - Mandatory    Single   contains No Other Tags.        *
    *   or                                                               *
    *    arc      - Mandatory    Single   contains No Other Tags.        *
    *====================================================================*
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="xlink:resource"/>
			<xs:element ref="xlink:locator"/>
			<xs:element ref="xlink:arc"/>
		</xs:choice>
	</xs:group>


<!--**********************************************************************
    * Define all XLINK attributes as follows:-                           *
    ********************************************************************** -->

	<xs:attribute name="type">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Attribute xlink:type (XLINK Link Type Attribute)            *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:type    - Declared               - XLINK type: "simple" or  *
    *                                                       "extended".  *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:NMTOKEN">
				<xs:enumeration value="simple"/>
				<xs:enumeration value="extended"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>

	<xs:attribute name="title" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Attribute xlink:title (XLINK title Attribute)               *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:title   - CDATA                  - XLINK title.             *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>

	<xs:attribute name="href" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Attribute xlink:href (XLINK href Attribute)                 *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:href    - CDATA                  - XLINK target URN.        *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>

	<xs:attribute name="show">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Attribute xlink:show (XLINK show Attribute)                 *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:show    - Declared               - XLINK window behavior:-  *
    *                                           "replace" or "new" or    *
    *                                           "embed" or "other" or    *
    *                                           "none".                  *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:NMTOKEN">
				<xs:enumeration value="new"/>
				<xs:enumeration value="replace"/>
				<xs:enumeration value="embed"/>
				<xs:enumeration value="other"/>
				<xs:enumeration value="none"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>

	<xs:attribute name="actuate">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Attribute xlink:actuate (XLINK actuate Attribute)           *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:actuate - Declared               - XLINK event behavior:-   *
    *                                           "onLoad" or "onRequest". *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:NMTOKEN">
				<xs:enumeration value="onLoad"/>
				<xs:enumeration value="onRequest"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>

	<xs:attribute name="label" type="xs:NMTOKEN">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Attribute xlink:label (XLINK label Attribute)               *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:label - NMTOKEN             - XLINK resource/locator label. *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>

	<xs:attribute name="from" type="xs:NMTOKEN">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Attribute xlink:from (XLINK from Attribute)                 *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:from    - NMTOKEN            - XLINK starting resource.     *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>

	<xs:attribute name="to" type="xs:NMTOKEN">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Attribute xlink:to (XLINK to Attribute)                     *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:to      - NMTOKEN            - XLINK ending resource.       *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>


	<xs:attributeGroup name="HREFTITL">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "HREFTITL" (optional XLINK href and title Attributes) *
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:href    - CDATA    - IMPLIED     - XLINK target URN.        *
    *  xlink:title   - CDATA    - IMPLIED     - XLINK title.             *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:href"/>
		<xs:attribute ref="xlink:title"/>
	</xs:attributeGroup>


	<xs:attributeGroup name="XLINKBEH">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKBEH"  (XLINK Behavior Attributes,               *
    *                           basic Definition)                        *
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:show    - Declared - "replace"   - XLINK window behavior:-  *
    *                                           "replace" or "new" or    *
    *                                           "embed" or "other" or    *
    *                                           "none".                  *
    *  xlink:actuate - Declared - "onRequest" - XLINK event behavior:-   *
    *                                           "onLoad" or "onRequest". *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:show" default="replace"/>
		<xs:attribute ref="xlink:actuate" default="onRequest"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="XLINKBEH0">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKBEH0"  (XLINK Behavior Attributes Variant 0,    *
    *                            no default values at all)               *
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:show    - Declared - IMPLIED     - XLINK window behavior:-  *
    *                                           "replace" or "new" or    *
    *                                           "embed" or "other" or    *
    *                                           "none".                  *
    *  xlink:actuate - Declared - IMPLIED     - XLINK event behavior:-   *
    *                                           "onLoad" or "onRequest". *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:show"/>
		<xs:attribute ref="xlink:actuate"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="XLINKBEH1">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKBEH1"  (XLINK Behavior Attributes Variant 1)    *
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:show    - Declared - FIXED       - XLINK window behavior:-  *
    *                                           "embed".                 *
    *  xlink:actuate - Declared - FIXED       - XLINK event behavior:-   *
    *                                           "onLoad".                *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:show" fixed="embed"/>
		<xs:attribute ref="xlink:actuate" fixed="onLoad"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="XLINKBEH2">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKBEH2"  (XLINK Behavior Attributes Variant 2)    *
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:show    - Declared - "new"       - XLINK window behavior:-  *
    *                                           "replace" or "new" or    *
    *                                           "embed" or "other" or    *
    *                                           "none".                  *
    *  xlink:actuate - Declared - "onRequest" - XLINK event behavior:-   *
    *                                           "onLoad" or "onRequest". *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:show" default="new"/>
		<xs:attribute ref="xlink:actuate" default="onRequest"/>
	</xs:attributeGroup>
	

	<xs:attributeGroup name="XLINKATT">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKATT"  (XLINK Attributes, basic Definition)      *
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:type    - Declared - "simple"    - XLINK type: "simple" or  *
    *                                                       "extended".  *
    *  Attribute Definition List stored in attribute group "HREFTITL".   *
    *  Attribute Definition List stored in attribute group "XLINKBEH".   *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:type" default="simple"/>
      		<xs:attributeGroup ref="xlink:HREFTITL"/>
      		<xs:attributeGroup ref="xlink:XLINKBEH"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="XLINKATT0">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKATT0"  (XLINK Attributes Variant 0, fixed       *
    *                            "simple" XLink, no defaults on behavior)*
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:type    - Declared - FIXED       - XLINK type: "simple".    *
    *  Attribute Definition List stored in attribute group "HREFTITL".   *
    *  Attribute Definition List stored in attribute group "XLINKBEH0".  *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:type" fixed="simple"/>
      		<xs:attributeGroup ref="xlink:HREFTITL"/>
      		<xs:attributeGroup ref="xlink:XLINKBEH0"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="XLINKATT1">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKATT1"  (XLINK Attributes Variant 1, fixed       *
    *                            "simple" XLink, Behavior Variant 1)     *
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:type    - Declared - FIXED       - XLINK type: "simple".    *
    *  Attribute Definition List stored in attribute group "HREFTITL".   *
    *  Attribute Definition List stored in attribute group "XLINKBEH1".  *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:type" fixed="simple"/>
      		<xs:attributeGroup ref="xlink:HREFTITL"/>
      		<xs:attributeGroup ref="xlink:XLINKBEH1"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="XLINKATT2">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKATT2"  (XLINK Attributes Variant 2, fixed       *
    *                            "simple" XLink, Behavior Variant 2)     *
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:type    - Declared - FIXED       - XLINK type: "simple".    *
    *  Attribute Definition List stored in attribute group "HREFTITL".   *
    *  Attribute Definition List stored in attribute group "XLINKBEH2".  *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:type" fixed="simple"/>
      		<xs:attributeGroup ref="xlink:HREFTITL"/>
      		<xs:attributeGroup ref="xlink:XLINKBEH2"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="XLINKATT3">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKATT3"  (XLINK Attributes Variant 3, fixed       *
    *                            "simple" XLink, Behavior basic Variant) *
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:type    - Declared - FIXED       - XLINK type: "simple".    *
    *  Attribute Definition List stored in attribute group "HREFTITL".   *
    *  Attribute Definition List stored in attribute group "XLINKBEH".   *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:type" fixed="simple"/>
      		<xs:attributeGroup ref="xlink:HREFTITL"/>
      		<xs:attributeGroup ref="xlink:XLINKBEH"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="XLINKATT4">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Group "XLINKATT4"  (XLINK Attributes Variant 4, default     *
    *                            "simple" XLink, Behavior Variant 2)     *
    * containing:-                                                       *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:type    - Declared - "simple"    - XLINK type: "simple" or  *
    *                                                       "extended".  *
    *  Attribute Definition List stored in attribute group "HREFTITL".   *
    *  Attribute Definition List stored in attribute group "XLINKBEH2".  *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:attribute ref="xlink:type" default="simple"/>
      		<xs:attributeGroup ref="xlink:HREFTITL"/>
      		<xs:attributeGroup ref="xlink:XLINKBEH2"/>
	</xs:attributeGroup>


	<xs:element name="resource">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element resource (XLINK Resource) containing:-              *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:type  - Declared - FIXED    - XLINK type: "resource".       *
    *  xlink:title - CDATA    - IMPLIED  - XLINK resource title.         *
    *  xlink:label - NMTOKEN  - REQUIRED - XLINK resource label.         *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="type" fixed="resource"/>
			<xs:attribute ref="xlink:title"/>
			<xs:attribute ref="xlink:label" use="required"/>
		</xs:complexType>
	</xs:element>


	<xs:element name="locator">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element locator (XLINK Locator) containing:-                *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:type  - Declared - FIXED    - XLINK type: "locator".        *
    *  xlink:href  - CDATA    - REQUIRED - XLINK locator URN.            *
    *  xlink:title - CDATA    - IMPLIED  - XLINK locator title.          *
    *  xlink:label - NMTOKEN  - REQUIRED - XLINK locator label.          *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="type" fixed="locator"/>
			<xs:attribute ref="xlink:href" use="required"/>
			<xs:attribute ref="xlink:title"/>
			<xs:attribute ref="xlink:label" use="required"/>
		</xs:complexType>
	</xs:element>


	<xs:element name="arc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element arc (XLINK Arc) containing:-                        *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  xlink:type    - Declared - FIXED   - XLINK type: "arc".           *
    *  xlink:from    - NMTOKEN  - IMPLIED - XLINK starting resource.     *
    *  xlink:to      - NMTOKEN  - IMPLIED - XLINK ending resource.       *
    *  Attribute Definition List stored in attribute group "XLINKBEH0".  *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="type" fixed="arc"/>
			<xs:attribute ref="xlink:from"/>
			<xs:attribute ref="xlink:to"/>
      			<xs:attributeGroup ref="xlink:XLINKBEH0"/>
		</xs:complexType>
	</xs:element>
	


</xs:schema>
