RCM Form Generator/schemas/S1000D_3-0/xml_schema_flat/pm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="qualified"
    elementFormDefault="qualified"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="rdf.xsd"/>
    <xs:element name="pm" type="pmType"/>
    <xs:complexType name="pmType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="rdf:Description"/>
            <xs:element ref="idstatus"/>
            <xs:element ref="content"/>
        </xs:sequence>
        <xs:attribute ref="id"/>
    </xs:complexType>
    <xs:element name="idstatus" type="idstatusType"/>
    <xs:complexType name="idstatusType">
        <xs:sequence>
            <xs:element ref="pmaddres"/>
            <xs:element ref="pmstatus"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="pmaddres" type="pmaddresType"/>
    <xs:complexType name="pmaddresType">
        <xs:sequence>
            <xs:element ref="pmc"/>
            <xs:element ref="pmtitle"/>
            <xs:element ref="issno"/>
            <xs:element ref="issdate"/>
            <xs:element minOccurs="0" ref="language"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="pmc" type="pmcType"/>
    <xs:complexType name="pmcType">
        <xs:sequence>
            <xs:element ref="modelic"/>
            <xs:element ref="pmissuer"/>
            <xs:element ref="pmnumber"/>
            <xs:element ref="pmvolume"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="modelic" type="modelicType"/>
    <xs:simpleType name="modelicType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{2,14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="pmissuer" type="pmissuerType"/>
    <xs:simpleType name="pmissuerType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="pmnumber" type="pmnumberType"/>
    <xs:simpleType name="pmnumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="pmvolume" type="NONNEGI2"/>
    <xs:simpleType name="NONNEGI2">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="\d{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="pmtitle" type="xs:string"/>
    <xs:attribute name="issno" type="issnoAttType"/>
    <xs:simpleType name="issnoAttType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="\d{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="issno" type="issnoType"/>
    <xs:complexType name="issnoType">
        <xs:attribute ref="issno" use="required"/>
        <xs:attribute ref="inwork"/>
        <xs:attribute default="new" ref="type"/>
    </xs:complexType>
    <xs:attribute name="inwork" type="NONNEGI2"/>
    <xs:attribute name="type" type="issnotypeAttType"/>
    <xs:simpleType name="issnotypeAttType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="new"/>
            <xs:enumeration value="changed"/>
            <xs:enumeration value="deleted"/>
            <xs:enumeration value="revised"/>
            <xs:enumeration value="status"/>
            <xs:enumeration value="rinstate-changed"/>
            <xs:enumeration value="rinstate-revised"/>
            <xs:enumeration value="rinstate-status"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="issdate" type="issdateType"/>
    <xs:complexType name="issdateType">
        <xs:attributeGroup ref="DATE"/>
    </xs:complexType>
    <xs:attributeGroup name="DATE">
        <xs:attribute ref="year" use="required"/>
        <xs:attribute ref="month" use="required"/>
        <xs:attribute ref="day" use="required"/>
    </xs:attributeGroup>
    <xs:attribute name="year" type="yearType"/>
    <xs:simpleType name="yearType">
        <xs:restriction base="xs:gYear">
            <xs:pattern value="\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attribute name="month" type="MONTH"/>
    <xs:simpleType name="MONTH">
        <xs:restriction base="xs:positiveInteger">
            <xs:maxInclusive value="12"/>
            <xs:pattern value="\d{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attribute name="day" type="DAY"/>
    <xs:simpleType name="DAY">
        <xs:restriction base="xs:positiveInteger">
            <xs:maxInclusive value="31"/>
            <xs:pattern value="\d{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attribute name="language" type="languageAttType"/>
    <xs:simpleType name="languageAttType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="language" type="languageType"/>
    <xs:complexType name="languageType">
        <xs:attribute ref="language" use="required"/>
        <xs:attribute ref="country"/>
    </xs:complexType>
    <xs:attribute name="country" type="countryType"/>
    <xs:simpleType name="countryType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="pmstatus" type="pmstatusType"/>
    <xs:complexType name="pmstatusType">
        <xs:sequence>
            <xs:element ref="security"/>
            <xs:element minOccurs="0" ref="datarest"/>
            <xs:element ref="rpc"/>
            <xs:element minOccurs="0" ref="orig"/>
            <xs:element ref="actref"/>
            <xs:element ref="applic"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="media"/>
            <xs:element ref="qa"/>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="sbc"/>
                <xs:element ref="fic"/>
            </xs:choice>
            <xs:element minOccurs="0" ref="rfu"/>
            <xs:element minOccurs="0" ref="remarks"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="security" type="securityType"/>
    <xs:complexType name="securityType">
        <xs:attributeGroup ref="SECURIT"/>
    </xs:complexType>
    <xs:attributeGroup name="SECURIT">
        <xs:attribute ref="class" use="required"/>
        <xs:attributeGroup ref="COMMSEC"/>
    </xs:attributeGroup>
    <xs:attribute name="class" type="CLASSES"/>
    <xs:simpleType name="CLASSES">
        <xs:restriction base="xs:string">
            <xs:enumeration value="01"/>
            <xs:enumeration value="02"/>
            <xs:enumeration value="03"/>
            <xs:enumeration value="04"/>
            <xs:enumeration value="05"/>
            <xs:enumeration value="06"/>
            <xs:enumeration value="07"/>
            <xs:enumeration value="08"/>
            <xs:enumeration value="09"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="31"/>
            <xs:enumeration value="32"/>
            <xs:enumeration value="33"/>
            <xs:enumeration value="34"/>
            <xs:enumeration value="35"/>
            <xs:enumeration value="36"/>
            <xs:enumeration value="37"/>
            <xs:enumeration value="38"/>
            <xs:enumeration value="39"/>
            <xs:enumeration value="40"/>
            <xs:enumeration value="41"/>
            <xs:enumeration value="42"/>
            <xs:enumeration value="43"/>
            <xs:enumeration value="44"/>
            <xs:enumeration value="45"/>
            <xs:enumeration value="46"/>
            <xs:enumeration value="47"/>
            <xs:enumeration value="48"/>
            <xs:enumeration value="49"/>
            <xs:enumeration value="50"/>
            <xs:enumeration value="51"/>
            <xs:enumeration value="52"/>
            <xs:enumeration value="53"/>
            <xs:enumeration value="54"/>
            <xs:enumeration value="55"/>
            <xs:enumeration value="56"/>
            <xs:enumeration value="57"/>
            <xs:enumeration value="58"/>
            <xs:enumeration value="59"/>
            <xs:enumeration value="60"/>
            <xs:enumeration value="61"/>
            <xs:enumeration value="62"/>
            <xs:enumeration value="63"/>
            <xs:enumeration value="64"/>
            <xs:enumeration value="65"/>
            <xs:enumeration value="66"/>
            <xs:enumeration value="67"/>
            <xs:enumeration value="68"/>
            <xs:enumeration value="69"/>
            <xs:enumeration value="70"/>
            <xs:enumeration value="71"/>
            <xs:enumeration value="72"/>
            <xs:enumeration value="73"/>
            <xs:enumeration value="74"/>
            <xs:enumeration value="75"/>
            <xs:enumeration value="76"/>
            <xs:enumeration value="77"/>
            <xs:enumeration value="78"/>
            <xs:enumeration value="79"/>
            <xs:enumeration value="80"/>
            <xs:enumeration value="81"/>
            <xs:enumeration value="82"/>
            <xs:enumeration value="83"/>
            <xs:enumeration value="84"/>
            <xs:enumeration value="85"/>
            <xs:enumeration value="86"/>
            <xs:enumeration value="87"/>
            <xs:enumeration value="88"/>
            <xs:enumeration value="89"/>
            <xs:enumeration value="90"/>
            <xs:enumeration value="91"/>
            <xs:enumeration value="92"/>
            <xs:enumeration value="93"/>
            <xs:enumeration value="94"/>
            <xs:enumeration value="95"/>
            <xs:enumeration value="96"/>
            <xs:enumeration value="97"/>
            <xs:enumeration value="98"/>
            <xs:enumeration value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="COMMSEC">
        <xs:attribute ref="commcls"/>
        <xs:attribute ref="caveat"/>
    </xs:attributeGroup>
    <xs:attribute name="commcls" type="COMMCLSS"/>
    <xs:simpleType name="COMMCLSS">
        <xs:restriction base="xs:string">
            <xs:enumeration value="cc01"/>
            <xs:enumeration value="cc02"/>
            <xs:enumeration value="cc03"/>
            <xs:enumeration value="cc04"/>
            <xs:enumeration value="cc05"/>
            <xs:enumeration value="cc06"/>
            <xs:enumeration value="cc07"/>
            <xs:enumeration value="cc08"/>
            <xs:enumeration value="cc09"/>
            <xs:enumeration value="cc10"/>
            <xs:enumeration value="cc11"/>
            <xs:enumeration value="cc12"/>
            <xs:enumeration value="cc13"/>
            <xs:enumeration value="cc14"/>
            <xs:enumeration value="cc15"/>
            <xs:enumeration value="cc16"/>
            <xs:enumeration value="cc17"/>
            <xs:enumeration value="cc18"/>
            <xs:enumeration value="cc19"/>
            <xs:enumeration value="cc20"/>
            <xs:enumeration value="cc21"/>
            <xs:enumeration value="cc22"/>
            <xs:enumeration value="cc23"/>
            <xs:enumeration value="cc24"/>
            <xs:enumeration value="cc25"/>
            <xs:enumeration value="cc26"/>
            <xs:enumeration value="cc27"/>
            <xs:enumeration value="cc28"/>
            <xs:enumeration value="cc29"/>
            <xs:enumeration value="cc30"/>
            <xs:enumeration value="cc31"/>
            <xs:enumeration value="cc32"/>
            <xs:enumeration value="cc33"/>
            <xs:enumeration value="cc34"/>
            <xs:enumeration value="cc35"/>
            <xs:enumeration value="cc36"/>
            <xs:enumeration value="cc37"/>
            <xs:enumeration value="cc38"/>
            <xs:enumeration value="cc39"/>
            <xs:enumeration value="cc40"/>
            <xs:enumeration value="cc41"/>
            <xs:enumeration value="cc42"/>
            <xs:enumeration value="cc43"/>
            <xs:enumeration value="cc44"/>
            <xs:enumeration value="cc45"/>
            <xs:enumeration value="cc46"/>
            <xs:enumeration value="cc47"/>
            <xs:enumeration value="cc48"/>
            <xs:enumeration value="cc49"/>
            <xs:enumeration value="cc50"/>
            <xs:enumeration value="cc51"/>
            <xs:enumeration value="cc52"/>
            <xs:enumeration value="cc53"/>
            <xs:enumeration value="cc54"/>
            <xs:enumeration value="cc55"/>
            <xs:enumeration value="cc56"/>
            <xs:enumeration value="cc57"/>
            <xs:enumeration value="cc58"/>
            <xs:enumeration value="cc59"/>
            <xs:enumeration value="cc60"/>
            <xs:enumeration value="cc61"/>
            <xs:enumeration value="cc62"/>
            <xs:enumeration value="cc63"/>
            <xs:enumeration value="cc64"/>
            <xs:enumeration value="cc65"/>
            <xs:enumeration value="cc66"/>
            <xs:enumeration value="cc67"/>
            <xs:enumeration value="cc68"/>
            <xs:enumeration value="cc69"/>
            <xs:enumeration value="cc70"/>
            <xs:enumeration value="cc71"/>
            <xs:enumeration value="cc72"/>
            <xs:enumeration value="cc73"/>
            <xs:enumeration value="cc74"/>
            <xs:enumeration value="cc75"/>
            <xs:enumeration value="cc76"/>
            <xs:enumeration value="cc77"/>
            <xs:enumeration value="cc78"/>
            <xs:enumeration value="cc79"/>
            <xs:enumeration value="cc80"/>
            <xs:enumeration value="cc81"/>
            <xs:enumeration value="cc82"/>
            <xs:enumeration value="cc83"/>
            <xs:enumeration value="cc84"/>
            <xs:enumeration value="cc85"/>
            <xs:enumeration value="cc86"/>
            <xs:enumeration value="cc87"/>
            <xs:enumeration value="cc88"/>
            <xs:enumeration value="cc89"/>
            <xs:enumeration value="cc90"/>
            <xs:enumeration value="cc91"/>
            <xs:enumeration value="cc92"/>
            <xs:enumeration value="cc93"/>
            <xs:enumeration value="cc94"/>
            <xs:enumeration value="cc95"/>
            <xs:enumeration value="cc96"/>
            <xs:enumeration value="cc97"/>
            <xs:enumeration value="cc98"/>
            <xs:enumeration value="cc99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attribute name="caveat" type="CAVEATS"/>
    <xs:simpleType name="CAVEATS">
        <xs:restriction base="xs:string">
            <xs:enumeration value="cv01"/>
            <xs:enumeration value="cv02"/>
            <xs:enumeration value="cv03"/>
            <xs:enumeration value="cv04"/>
            <xs:enumeration value="cv05"/>
            <xs:enumeration value="cv06"/>
            <xs:enumeration value="cv07"/>
            <xs:enumeration value="cv08"/>
            <xs:enumeration value="cv09"/>
            <xs:enumeration value="cv10"/>
            <xs:enumeration value="cv11"/>
            <xs:enumeration value="cv12"/>
            <xs:enumeration value="cv13"/>
            <xs:enumeration value="cv14"/>
            <xs:enumeration value="cv15"/>
            <xs:enumeration value="cv16"/>
            <xs:enumeration value="cv17"/>
            <xs:enumeration value="cv18"/>
            <xs:enumeration value="cv19"/>
            <xs:enumeration value="cv20"/>
            <xs:enumeration value="cv21"/>
            <xs:enumeration value="cv22"/>
            <xs:enumeration value="cv23"/>
            <xs:enumeration value="cv24"/>
            <xs:enumeration value="cv25"/>
            <xs:enumeration value="cv26"/>
            <xs:enumeration value="cv27"/>
            <xs:enumeration value="cv28"/>
            <xs:enumeration value="cv29"/>
            <xs:enumeration value="cv30"/>
            <xs:enumeration value="cv31"/>
            <xs:enumeration value="cv32"/>
            <xs:enumeration value="cv33"/>
            <xs:enumeration value="cv34"/>
            <xs:enumeration value="cv35"/>
            <xs:enumeration value="cv36"/>
            <xs:enumeration value="cv37"/>
            <xs:enumeration value="cv38"/>
            <xs:enumeration value="cv39"/>
            <xs:enumeration value="cv40"/>
            <xs:enumeration value="cv41"/>
            <xs:enumeration value="cv42"/>
            <xs:enumeration value="cv43"/>
            <xs:enumeration value="cv44"/>
            <xs:enumeration value="cv45"/>
            <xs:enumeration value="cv46"/>
            <xs:enumeration value="cv47"/>
            <xs:enumeration value="cv48"/>
            <xs:enumeration value="cv49"/>
            <xs:enumeration value="cv50"/>
            <xs:enumeration value="cv51"/>
            <xs:enumeration value="cv52"/>
            <xs:enumeration value="cv53"/>
            <xs:enumeration value="cv54"/>
            <xs:enumeration value="cv55"/>
            <xs:enumeration value="cv56"/>
            <xs:enumeration value="cv57"/>
            <xs:enumeration value="cv58"/>
            <xs:enumeration value="cv59"/>
            <xs:enumeration value="cv60"/>
            <xs:enumeration value="cv61"/>
            <xs:enumeration value="cv62"/>
            <xs:enumeration value="cv63"/>
            <xs:enumeration value="cv64"/>
            <xs:enumeration value="cv65"/>
            <xs:enumeration value="cv66"/>
            <xs:enumeration value="cv67"/>
            <xs:enumeration value="cv68"/>
            <xs:enumeration value="cv69"/>
            <xs:enumeration value="cv70"/>
            <xs:enumeration value="cv71"/>
            <xs:enumeration value="cv72"/>
            <xs:enumeration value="cv73"/>
            <xs:enumeration value="cv74"/>
            <xs:enumeration value="cv75"/>
            <xs:enumeration value="cv76"/>
            <xs:enumeration value="cv77"/>
            <xs:enumeration value="cv78"/>
            <xs:enumeration value="cv79"/>
            <xs:enumeration value="cv80"/>
            <xs:enumeration value="cv81"/>
            <xs:enumeration value="cv82"/>
            <xs:enumeration value="cv83"/>
            <xs:enumeration value="cv84"/>
            <xs:enumeration value="cv85"/>
            <xs:enumeration value="cv86"/>
            <xs:enumeration value="cv87"/>
            <xs:enumeration value="cv88"/>
            <xs:enumeration value="cv89"/>
            <xs:enumeration value="cv90"/>
            <xs:enumeration value="cv91"/>
            <xs:enumeration value="cv92"/>
            <xs:enumeration value="cv93"/>
            <xs:enumeration value="cv94"/>
            <xs:enumeration value="cv95"/>
            <xs:enumeration value="cv96"/>
            <xs:enumeration value="cv97"/>
            <xs:enumeration value="cv98"/>
            <xs:enumeration value="cv99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="datarest" type="datarestType"/>
    <xs:complexType name="datarestType">
        <xs:sequence>
            <xs:element ref="instruct"/>
            <xs:element minOccurs="0" ref="inform"/>
        </xs:sequence>
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:element name="instruct" type="instructType"/>
    <xs:complexType name="instructType">
        <xs:sequence>
            <xs:element ref="distrib"/>
            <xs:element minOccurs="0" ref="expcont"/>
            <xs:element minOccurs="0" ref="handling"/>
            <xs:element minOccurs="0" ref="destruct"/>
            <xs:element minOccurs="0" ref="disclose"/>
        </xs:sequence>
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:element name="distrib" type="distribType"/>
    <xs:complexType mixed="true" name="distribType">
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:attributeGroup name="bodyatt">
        <xs:attribute ref="id"/>
        <xs:attributeGroup ref="INSDEL"/>
    </xs:attributeGroup>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attributeGroup name="INSDEL">
        <xs:attribute ref="level"/>
        <xs:attribute ref="mark"/>
        <xs:attribute ref="change"/>
        <xs:attribute ref="rfc"/>
    </xs:attributeGroup>
    <xs:attribute name="level" type="xs:nonNegativeInteger"/>
    <xs:attribute name="mark" type="xs:nonNegativeInteger"/>
    <xs:attribute name="change" type="changeAttType"/>
    <xs:simpleType name="changeAttType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="add"/>
            <xs:enumeration value="delete"/>
            <xs:enumeration value="modify"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attribute name="rfc" type="xs:string"/>
    <xs:element name="expcont" type="expcontType"/>
    <xs:complexType name="expcontType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="expstatement"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="expregcode"/>
        </xs:sequence>
        <xs:attributeGroup ref="bodyatt"/>
        <xs:attribute ref="expregtype"/>
        <xs:attribute ref="expgovauth"/>
    </xs:complexType>
    <xs:element name="expstatement" type="expstatementType"/>
    <xs:complexType name="expstatementType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="p"/>
        </xs:sequence>
        <xs:attribute ref="exprole"/>
    </xs:complexType>
    <xs:element name="p" type="pType"/>
    <xs:complexType mixed="true" name="pType">
        <xs:group maxOccurs="unbounded" minOccurs="0" ref="SPARCON"/>
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:group name="SPARCON">
        <xs:choice>
            <xs:element ref="subscrpt"/>
            <xs:element ref="supscrpt"/>
        </xs:choice>
    </xs:group>
    <xs:element name="subscrpt" type="xs:string"/>
    <xs:element name="supscrpt" type="xs:string"/>
    <xs:attribute name="exprole" type="exproleType"/>
    <xs:simpleType name="exproleType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="partial"/>
            <xs:enumeration value="full"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="expregcode" type="expregcodeType"/>
    <xs:complexType name="expregcodeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="expregcodetype"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:attribute name="expregcodetype" type="xs:string"/>
    <xs:attribute name="expregtype" type="xs:string"/>
    <xs:attribute name="expgovauth" type="xs:string"/>
    <xs:element name="handling" type="handlingType"/>
    <xs:complexType mixed="true" name="handlingType">
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:element name="destruct" type="destructType"/>
    <xs:complexType mixed="true" name="destructType">
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:element name="disclose" type="discloseType"/>
    <xs:complexType mixed="true" name="discloseType">
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:element name="inform" type="informType"/>
    <xs:complexType name="informType">
        <xs:sequence>
            <xs:element ref="copyright"/>
            <xs:element minOccurs="0" ref="polref"/>
            <xs:element minOccurs="0" ref="datacond"/>
        </xs:sequence>
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:element name="copyright" type="copyrightType"/>
    <xs:complexType name="copyrightType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="p"/>
            <xs:element ref="refdm"/>
        </xs:choice>
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:element name="refdm" type="refdmType"/>
    <xs:complexType name="refdmType">
        <xs:choice>
            <xs:sequence>
                <xs:element minOccurs="0" ref="dmcextension"/>
                <xs:element ref="dmc"/>
                <xs:element minOccurs="0" ref="dmtitle"/>
                <xs:element minOccurs="0" ref="issno"/>
                <xs:element minOccurs="0" ref="issdate"/>
                <xs:element minOccurs="0" ref="language"/>
            </xs:sequence>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="xlink:XLINKEXT"/>
        </xs:choice>
        <xs:attributeGroup ref="xlink:XLINKATT4"/>
    </xs:complexType>
    <xs:element name="dmcextension" type="dmcextensionType"/>
    <xs:complexType name="dmcextensionType">
        <xs:sequence>
            <xs:element ref="dmeproducer"/>
            <xs:element ref="dmecode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="dmeproducer" type="xs:string"/>
    <xs:element name="dmecode" type="xs:string"/>
    <xs:element name="dmc" type="dmcType"/>
    <xs:complexType name="dmcType">
        <xs:group ref="ALLDMC"/>
    </xs:complexType>
    <xs:group name="ALLDMC">
        <xs:choice>
            <xs:element ref="age"/>
            <xs:element ref="avee"/>
        </xs:choice>
    </xs:group>
    <xs:element name="age" type="ageType"/>
    <xs:complexType name="ageType">
        <xs:sequence>
            <xs:element ref="modelic"/>
            <xs:element ref="supeqvc"/>
            <xs:element ref="ecscs"/>
            <xs:element ref="eidc"/>
            <xs:element ref="cidc"/>
            <xs:element ref="discode"/>
            <xs:element ref="discodev"/>
            <xs:element ref="incode"/>
            <xs:element ref="incodev"/>
            <xs:element ref="itemloc"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="supeqvc" type="supeqvcType"/>
    <xs:simpleType name="supeqvcType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ecscs" type="ecscsType"/>
    <xs:simpleType name="ecscsType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="eidc" type="eidcType"/>
    <xs:simpleType name="eidcType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="cidc" type="cidcType"/>
    <xs:simpleType name="cidcType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Za-z0-9]{2}|[A-Za-z0-9]{4})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="discode" type="discodeType"/>
    <xs:simpleType name="discodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="discodev" type="discodevType"/>
    <xs:simpleType name="discodevType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="incode" type="incodeType"/>
    <xs:simpleType name="incodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="incodev" type="incodevType"/>
    <xs:simpleType name="incodevType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="itemloc" type="itemlocType"/>
    <xs:simpleType name="itemlocType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="avee" type="aveeType"/>
    <xs:complexType name="aveeType">
        <xs:sequence>
            <xs:element ref="modelic"/>
            <xs:element ref="sdc"/>
            <xs:element ref="chapnum"/>
            <xs:element ref="section"/>
            <xs:element ref="subsect"/>
            <xs:element ref="subject"/>
            <xs:element ref="discode"/>
            <xs:element ref="discodev"/>
            <xs:element ref="incode"/>
            <xs:element ref="incodev"/>
            <xs:element ref="itemloc"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="sdc" type="sdcType"/>
    <xs:simpleType name="sdcType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="chapnum" type="chapnumType"/>
    <xs:simpleType name="chapnumType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="section" type="sectionType"/>
    <xs:simpleType name="sectionType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="subsect" type="subsectType"/>
    <xs:simpleType name="subsectType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="subject" type="subjectType"/>
    <xs:simpleType name="subjectType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Za-z0-9]{2}|[A-Za-z0-9]{4})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="dmtitle" type="dmtitleType"/>
    <xs:complexType name="dmtitleType">
        <xs:sequence>
            <xs:element ref="techname"/>
            <xs:element minOccurs="0" ref="infoname"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="techname" type="xs:string"/>
    <xs:element name="infoname" type="xs:string"/>
    <xs:element name="polref" type="polrefType"/>
    <xs:complexType mixed="true" name="polrefType">
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:element name="datacond" type="datacondType"/>
    <xs:complexType mixed="true" name="datacondType">
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:element name="rpc" type="rpcType"/>
    <xs:complexType mixed="true" name="rpcType">
        <xs:attribute ref="rpcname"/>
        <xs:attribute ref="id"/>
    </xs:complexType>
    <xs:attribute name="rpcname" type="xs:string"/>
    <xs:element name="orig" type="origType"/>
    <xs:complexType mixed="true" name="origType">
        <xs:attribute ref="origname"/>
        <xs:attribute ref="id"/>
    </xs:complexType>
    <xs:attribute name="origname" type="ORGNAME"/>
    <xs:simpleType name="ORGNAME">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="actref" type="actrefType"/>
    <xs:complexType name="actrefType">
        <xs:sequence>
            <xs:element ref="refdm"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="applic" type="applicType"/>
    <xs:complexType name="applicType">
        <xs:choice>
            <xs:sequence>
                <xs:element ref="displaytext"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="assert"/>
                    <xs:element ref="evaluate"/>
                </xs:choice>
            </xs:sequence>
            <xs:choice>
                <xs:element ref="assert"/>
                <xs:element ref="evaluate"/>
            </xs:choice>
        </xs:choice>
        <xs:attribute ref="applicconf"/>
        <xs:attributeGroup ref="bodyatt"/>
    </xs:complexType>
    <xs:element name="displaytext" type="displaytextType"/>
    <xs:complexType mixed="true" name="displaytextType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="p"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="assert" type="assertType"/>
    <xs:complexType mixed="true" name="assertType">
        <xs:attribute ref="actidref"/>
        <xs:attribute ref="actreftype"/>
        <xs:attribute ref="actvalues"/>
        <xs:attribute ref="displayclass"/>
    </xs:complexType>
    <xs:attribute name="actidref" type="xs:NCName"/>
    <xs:attribute name="actreftype" type="actreftypeType"/>
    <xs:simpleType name="actreftypeType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="condition"/>
            <xs:enumeration value="prodattr"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attribute name="actvalues" type="actValuesType"/>
    <xs:simpleType name="actValuesType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[^~|\s]+(~[^~|\s]+)?(\|[^~|\s]+(~[^~|\s]+)?)*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attribute name="displayclass" type="xs:string"/>
    <xs:element name="evaluate" type="evaluateType"/>
    <xs:complexType name="evaluateType">
        <xs:choice maxOccurs="unbounded" minOccurs="2">
            <xs:element ref="evaluate"/>
            <xs:element ref="assert"/>
        </xs:choice>
        <xs:attribute ref="operator" use="required"/>
        <xs:attribute ref="displayclass"/>
    </xs:complexType>
    <xs:attribute name="operator" type="operType"/>
    <xs:simpleType name="operType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="and"/>
            <xs:enumeration value="or"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attribute name="applicconf" type="applicconfType"/>
    <xs:simpleType name="applicconfType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="allowed"/>
            <xs:enumeration value="built"/>
            <xs:enumeration value="designed"/>
            <xs:enumeration value="installed"/>
            <xs:enumeration value="manufactured"/>
            <xs:enumeration value="supported"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="media" type="mediaType"/>
    <xs:complexType name="mediaType">
        <xs:attribute name="type" use="required"/>
        <xs:attribute ref="code" use="required"/>
        <xs:attribute ref="volume"/>
        <xs:attribute ref="location"/>
    </xs:complexType>
    <xs:attribute name="code" type="xs:string"/>
    <xs:attribute name="volume" type="xs:string"/>
    <xs:attribute name="location" type="xs:string"/>
    <xs:element name="qa" type="qaType"/>
    <xs:complexType name="qaType">
        <xs:choice>
            <xs:element ref="unverif"/>
            <xs:sequence>
                <xs:element ref="firstver"/>
                <xs:element minOccurs="0" ref="secver"/>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>
    <xs:element name="unverif" type="unverifType"/>
    <xs:complexType name="unverifType"/>
    <xs:element name="firstver" type="firstverType"/>
    <xs:complexType name="firstverType">
        <xs:attribute name="type" type="firstvertypeType" use="required"/>
    </xs:complexType>
    <xs:simpleType name="firstvertypeType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="tabtop"/>
            <xs:enumeration value="onobject"/>
            <xs:enumeration value="ttandoo"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="secver" type="secverType"/>
    <xs:complexType name="secverType">
        <xs:attribute name="type" type="secvertypeType" use="required"/>
    </xs:complexType>
    <xs:simpleType name="secvertypeType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="tabtop"/>
            <xs:enumeration value="onobject"/>
            <xs:enumeration value="ttandoo"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="sbc" type="sbcType"/>
    <xs:complexType mixed="true" name="sbcType">
        <xs:attribute ref="id"/>
    </xs:complexType>
    <xs:element name="fic" type="FIC"/>
    <xs:simpleType name="FIC">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="rfu" type="rfuType"/>
    <xs:complexType mixed="true" name="rfuType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="p"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="remarks" type="remarksType"/>
    <xs:complexType mixed="true" name="remarksType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="p"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="content" type="contentType"/>
    <xs:complexType name="contentType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="pmentry"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="pmentry" type="pmentryType"/>
    <xs:complexType name="pmentryType">
        <xs:sequence>
            <xs:element ref="title"/>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="refdm"/>
                <xs:element ref="refpm"/>
                <xs:element ref="refextp"/>
                <xs:element ref="pmentry"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="refpm" type="refpmType"/>
    <xs:complexType name="refpmType">
        <xs:choice>
            <xs:sequence>
                <xs:element ref="pmc"/>
                <xs:element minOccurs="0" ref="pmtitle"/>
                <xs:element minOccurs="0" ref="issno"/>
                <xs:element minOccurs="0" ref="issdate"/>
                <xs:element minOccurs="0" ref="language"/>
                <xs:element minOccurs="0" ref="security"/>
                <xs:element minOccurs="0" ref="rpc"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="media"/>
            </xs:sequence>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="xlink:XLINKEXT"/>
        </xs:choice>
        <xs:attributeGroup ref="xlink:XLINKATT"/>
    </xs:complexType>
    <xs:element name="refextp" type="refextpType"/>
    <xs:complexType name="refextpType">
        <xs:choice>
            <xs:sequence>
                <xs:element ref="pubcode"/>
                <xs:element minOccurs="0" ref="pubtitle"/>
                <xs:element minOccurs="0" ref="pubdate"/>
                <xs:element minOccurs="0" ref="security"/>
                <xs:element minOccurs="0" ref="rpc"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="media"/>
            </xs:sequence>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="xlink:XLINKEXT"/>
        </xs:choice>
        <xs:attributeGroup ref="xlink:XLINKATT4"/>
    </xs:complexType>
    <xs:element name="pubcode" type="pubcodeType"/>
    <xs:complexType mixed="true" name="pubcodeType">
        <xs:attribute ref="pubcodsy"/>
    </xs:complexType>
    <xs:attribute name="pubcodsy" type="xs:string"/>
    <xs:element name="pubtitle" type="xs:string"/>
    <xs:element name="pubdate" type="pubdateType"/>
    <xs:complexType name="pubdateType">
        <xs:attributeGroup ref="DATE"/>
    </xs:complexType>
</xs:schema>
