RCM Form Generator/schemas/S1000D_2-2/ddn/ddn.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                          XML Schema                                *
    *                                                                    *
    *                     Release Version 2.1                            *
    *                       Date: 2004-02-29                             *
    *                                                                    *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. Update public identifier date.                                  *
    * 2. CPF 2003-13DE: Remove element issno from content model of       *
    *                   element ddn.                                     *
    *====================================================================*
    * The following include statement may be used to call this set of    *
    * declarations:-                                                     *
    *                                                                    *
    * <xs:include schemaLocation="ddn.xsd"/>                             *
    ********************************************************************** -->


<!--**********************************************************************
    * Import the RDF Metadata Definitions.                               *
    ********************************************************************** -->
	<xs:import 	namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
			schemaLocation="rdf_ddn.xsd"/>


	<xs:element name="ddn">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element ddn (Data Dispatch Note) containing:-               *
    *  rdf:Description - Optional  Single  contains Defintion stored in  *
    *                                               group "DCMES".       *
    *  ddnc            - Mandatory Single  contains modelic, sendid,     *
    *                                               recvid, diyear,      *
    *                                               seqnum.              *
    *  issdate         - Mandatory Single  contains No Other Tags.       *
    *  security        - Mandatory Single  contains No Other Tags.       *
    *  datarest        - Optional  Single  contains instruct, inform.    *
    *  dispto          - Mandatory Single  contains dispaddr.            *
    *  dispfrom        - Mandatory Single  contains dispaddr.            *
    *  authrtn         - Mandatory Single  contains Parsed Character Data*
    *  mediaid         - Optional  Single  contains No Other Tags.       *
    *  remarks         - Optional  Single  contains Definition stored in *
    *                                               group "SPAR".        *
    *  delivlst        - Optional  Single  contains ddnfilen, dmcoricn,  *
    *                                               issno.               *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  id       - ID       - IMPLIED  - Unique identifier of element.    *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rdf:Description" minOccurs="0"/>
				<xs:element ref="ddnc"/>
<!-- Element issno removed from content model -->
				<xs:element ref="issdate"/>
				<xs:element ref="security"/>
				<xs:element ref="datarest" minOccurs="0"/>
				<xs:element ref="dispto"/>
				<xs:element ref="dispfrom"/>
				<xs:element ref="authrtn"/>
				<xs:element ref="mediaid" minOccurs="0"/>
				<xs:element ref="remarks" minOccurs="0"/>
				<xs:element ref="delivlst" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="ddnc">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element ddnc (Data Dispatch Note Identification Code)       *
    * containing:-                                                       *
    *  modelic   - Mandatory   Single    contains Parsed Character Data. *
    *  sendid    - Mandatory   Single    contains Parsed Character Data. *
    *  recvid    - Mandatory   Single    contains Parsed Character Data. *
    *  diyear    - Mandatory   Single    contains Parsed Character Data. *
    *  seqnum    - Mandatory   Single    contains Parsed Character Data. *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="modelic"/>
				<xs:element ref="sendid"/>
				<xs:element ref="recvid"/>
				<xs:element ref="diyear"/>
				<xs:element ref="seqnum"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="modelic">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element modelic (Model Identification) containing:-         *
    *  Parsed Character Data.                                            *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9]{2,14}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="recvid" type="NCAGEcode">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element recvid (Receiver Identification) containing:-       *
    *  Parsed Character Data.                                            *
    * must contain the NCAGE code                                        *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="dispto">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element dispto (Receiving Company/Authority Details, eg     *
    *                        full address of receiving person including  *
    *                        organization/department)                    *
    * containing:-                                                       *
    *   dispaddr - Mandatory   Single      contains enterprise, person,  *
    *                                               address.             *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dispaddr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="dispfrom">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element dispfrom (Sending CompanyAuthority Details, eg      *
    *                          full address of sending person including  *
    *                          organization/department)                  *
    * containing:-                                                       *
    *   dispaddr - Mandatory   Single      contains enterprise, person,  *
    *                                               address.             *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dispaddr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="authrtn" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element authrtn (Authorisation Identification, eg name of   *
    *                         the person initiating/authorising the      *
    *                         data exchange)                             *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="mediaid">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element mediaid (Media Identification) containing:-         *
    *  No Other Tags.                                                    *
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    * label   - NMTOKEN - REQUIRED - Starting Media Label in Volume Set. *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="label" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="delivlst">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element delivlst (Data Delivery List Entry) containing:-    *
    *====================================================================*
    *  Mandatory Repeatable Group                                        *
    *====================================================================*
    *  ddnfilen  - Mandatory   Single    contains Parsed Character Data. *
    *  dmcoricn  - Optional    Single    contains Parsed Character Data. *
    *  issno     - Optional    Single    contains No Other Tags.         *
    *====================================================================*
    **********************************************************************
			</xs:documentation>
		</xs:annotation>

		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="ddnfilen"/>
				<xs:element ref="dmcoricn" minOccurs="0"/>
				<xs:element ref="issno" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ddnfilen" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element ddnfilen (Dispatched File Name) containing:-        *
    *  Parsed Character Data.                                            *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="dmcoricn" type="xs:string">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element dmcoricn (DMC or ICN or PMC of dispatched file)     *
    * containing:-                                                       *
    *  Parsed Character Data.                                            *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>
	</xs:element>


</xs:schema>

