RCM Form Generator/schemas/S1000D_2-2/dm/lists.xsd

<?xml version="1.0"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           	elementFormDefault="qualified"
           	attributeFormDefault="qualified">

<!--**********************************************************************
    *                                                                    *
    *                        S1000D Issue 2                              *
    *                          XML Schema                                *
    *                                                                    *
    *                     Release Version 2.2                            *
    *                       Date: 2005-05-01                             *
    *                                                                    *
    * Amendment:-                                                        *
    * 1. CPF 2002-11FR: Remove inclusion of group "gen_inc" from         *
    *                   elements <item> and <def>.                       *
    *                                                                    *
    * The following include statement may be used to call this set of    *
    * declarations:-                                                     *
    *                                                                    *
    * <xs:include schemaLocation="lists.xsd"/>                           *
    ********************************************************************** -->


	<xs:element name="randlist">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element randlist (Random List) containing:-                 *
    *  applic   - Optional   Single      contains type, model.           *
    *  title    - Optional   Single      contains Definition stored in   *
    *                                    group "text".                   *
    *  item     - Mandatory  Repeatable  contains applic, note, para,    *
    *                                    Definition stored in group      *
    *                                    "paracon".                      * 
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  prefix  - Declared  - REQUIRED  - "PREFIXES"   Prefix of randlist *
    *                                    items, declared in S1000D.CFG.  *
    *  Attribute Definition List stored in attribute group "bodyatt".    *
    *  Attribute Definition List stored in attribute group "secur".      *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType>	
			<xs:sequence>
				<xs:element ref="applic" minOccurs="0"/>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="prefix" use="required"/>
			<xs:attributeGroup ref="bodyatt"/>
			<xs:attributeGroup ref="secur"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="seqlist">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element seqlist (Sequential List) containing:-              *
    *  applic   - Optional   Single      contains type, model.           *
    *  title    - Optional   Single      contains Definition stored in   *
    *                                    group "text".                   *
    *  item     - Mandatory  Repeatable  contains applic, note, para,    *
    *                                    Definition stored in group      *
    *                                    "paracon".                      * 
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in attribute group "bodyatt".    *
    *  Attribute Definition List stored in attribute group "secur".      *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="applic" minOccurs="0"/>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
			<xs:attributeGroup ref="secur"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="item">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element item (List Item) containing:-                       *
    *  applic    - Optional  Single     contains type, model.            *
    *====================================================================*
    *  Mandatory Repeatable Group                                        *
    *====================================================================*
    *   note     - Mandatory  Single      contains applic, symbol, para, *
    *                                              Definition stored in  *
    *                                              group "list".         *
    *  or                                                                *
    *   para     - Mandatory  Single      contains Definition stored in  *
    *                                              group "paracon".      *
    *  or                                                                *
    *   Definition stored in group "paracon".                            *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in attribute group "bodyatt".    *
    **********************************************************************
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType mixed="true">		
			<xs:sequence>
				<xs:element ref="applic" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="note"/>
					<xs:element ref="para"/>
					<xs:group ref="paracon" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>
<!-- Content model changed -->

	<xs:element name="deflist">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element deflist (Definition List) containing:-              *
    *  applic   - Optional   Single      contains type, model.           *
    *  title    - optional   single      contains Definition stored in   *
    *                                    group "text".                   *
    *====================================================================*
    *  Mandatory Repeatable Group                                        *
    *====================================================================*
    *  term     - Mandatory  Single      contains applic, Definition     *
    *                                    stored in group "text".         *
    *  def      - Mandatory  Single      contains applic, para,          *
    *                                    Definition stored in group      *
    *                                    "paracon".                      *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    *  Attribute Definition List stored in attribute group "bodyatt".    *
    *  Attribute Definition List stored in attribute group "secur".      *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>		
			<xs:sequence>
				<xs:element ref="applic" minOccurs="0"/>
				<xs:element ref="title" minOccurs="0"/>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="term"/>
					<xs:element ref="def"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
			<xs:attributeGroup ref="secur"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="term">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element term (Term) containing:-                            *
    *  applic   - Optional   Single      contains type, model.           *
    *====================================================================*
    * Mandatory Repeatable Group.                                        *
    *====================================================================*
    *  Definition stored in group "text".                                *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    * Attribute Definition List stored in attribute group "bodyatt".     *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType mixed="true">	
			<xs:sequence>				
				<xs:element ref="applic" minOccurs="0"/>
				<xs:group ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="def">
		<xs:annotation>
			<xs:documentation>
    **********************************************************************
    * Define Element def (Definition) containing:-                       *
    *  applic   - Optional   Single      contains type, model.           *
    *====================================================================*
    *  Mandatory Repeatable Group                                        *
    *====================================================================*
    *   para     - Mandatory  Single      contains Definition stored in  *
    *                                              group "paracon".      *
    *  or                                                                *
    *   Definition stored in group "paracon".                            *
    *====================================================================*
    *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*
    * Attribute(s):-                                                     *
    * Attribute Definition List stored in attribute group "bodyatt".     *
    ********************************************************************** 
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="applic" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="para"/>
					<xs:group ref="paracon" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="bodyatt"/>
		</xs:complexType>
	</xs:element>
<!-- Content model changed -->


</xs:schema>
